  "workbench.colorCustomizations": {
    "editor.background": "{{role:ui.bg.primary}}",
    "editor.foreground": "{{role:ui.fg.primary}}",
    "editorLineNumber.foreground": "{{overlay1}}",
    "editorLineNumber.activeForeground": "{{subtext1}}",
    "editorCursor.foreground": "{{cursor}}",
    "editor.selectionBackground": "{{selection_bg}}",
    "editor.selectionForeground": "{{selection_fg}}",
    "editorSuggestWidget.background": "{{surface0}}",
    "editorSuggestWidget.foreground": "{{text}}",
    "editorSuggestWidget.selectedBackground": "{{mauve}}",
    "editorSuggestWidget.selectedForeground": "{{role:ui.bg.primary}}",
    "statusBar.background": "{{mantle}}",
    "statusBar.foreground": "{{text}}",
    "sideBar.background": "{{mantle}}",
    "sideBar.foreground": "{{text}}",
    "titleBar.activeBackground": "{{crust}}",
    "titleBar.activeForeground": "{{text}}",
    "terminal.background": "{{role:ui.bg.primary}}",
    "terminal.foreground": "{{role:ui.fg.primary}}",
    "terminal.ansiBlack": "{{ansi0}}",
    "terminal.ansiRed": "{{ansi1}}",
    "terminal.ansiGreen": "{{ansi2}}",
    "terminal.ansiYellow": "{{ansi3}}",
    "terminal.ansiBlue": "{{ansi4}}",
    "terminal.ansiMagenta": "{{ansi5}}",
    "terminal.ansiCyan": "{{ansi6}}",
    "terminal.ansiWhite": "{{ansi7}}",
    "terminal.ansiBrightBlack": "{{ansi8}}",
    "terminal.ansiBrightRed": "{{ansi9}}",
    "terminal.ansiBrightGreen": "{{ansi10}}",
    "terminal.ansiBrightYellow": "{{ansi11}}",
    "terminal.ansiBrightBlue": "{{ansi12}}",
    "terminal.ansiBrightMagenta": "{{ansi13}}",
    "terminal.ansiBrightCyan": "{{ansi14}}",
    "terminal.ansiBrightWhite": "{{ansi15}}"
  },
  "editor.tokenColorCustomizations": {
    "comments": "{{role:ui.fg.suggestion}}",
    "textMateRules": [
      {
        "scope": [
          "comment",
          "comment.line",
          "comment.block"
        ],
        "settings": {
          "foreground": "{{role:ui.fg.suggestion}}",
          "fontStyle": "italic"
        }
      }
    ]
  }
