[global]
frame_color = "{{mauve}}"
separator_color= frame
highlight = "{{mauve}}"

[urgency_low]
background = "{{base}}"
foreground = "{{text}}"

[urgency_normal]
background = "{{base}}"
foreground = "{{text}}"

[urgency_critical]
background = "{{base}}"
foreground = "{{text}}"
frame_color = "{{peach}}"
